/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [Id]
      ,[Name]
      ,[AccessoryTypeId]
  FROM [bikeshop].[dbo].[Accessories]


  select * FROM AccessoryTypes


  INSERT INTO Accessories(Name, AccessoryTypeId)
  VALUES( 'BBB Far BLS-7507 EcoBeam alb',1)

  USE [bikeshop]
GO

INSERT INTO [dbo].[Engines]
           ([Name]
           ,[Model]
           ,[MaxSpeed]
           ,[Power]
           ,[ElectricVoltage])
     VALUES
           ('Shimano Steps'
           ,'E8000, 70 Nm'
           ,40
           ,250
           ,36)
GO

USE [bikeshop]
GO

INSERT INTO [dbo].[Batteries]
           ([Model]
           ,[Autonomy]
           ,[Voltage]
           ,[ChargeTime])
     VALUES
           ('FOCUS T.E.C.'
           ,40
           ,756
           ,4)
GO

USE [bikeshop]
GO









