# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
node_modules/

packages
bin
obj
.vs

*.user

# testing
coverage

# production
build

# misc
.DS_Store
.env
npm-debug.log
*.cache
*.ide-shm
*.lock
*.ide-wal
*.ide-shm
.vs/ReactApp/v15/.suo
