h1 {
    color: white;
    text-align:center;
}

.lista {
    font-size: 25px;
}

ul#meniu li a {
    background-color: black;
    color: white;
}

ul#meniu li a:hover{
    background-color:lightgray;
    color: black;
}

ul#meniu li a:focus {
    background-color: white;
    color: black;
}

h3#contact {
    background-color:midnightblue;
    color:lightcyan;
    font-family:'Lucida Handwriting';  
    text-align:center;
}